//styles go here

//color definitions
$backgroundColor: #e0e0e0;
$text: #222;
$highlight: #00FF00;
$lightbg: #ddddff;

//sizes
$fs_large: 28px;

body {
  color: $text;
  background-color: $backgroundColor;
  font-family:Helvetica,Arial,sans-serif;
}

/* sample & random styles */

@mixin cool-border {
  $multiplier: 4;
  border-bottom: (5px * $multiplier) solid $highlight;
}

.special {
  color:red;
  @include cool-border;
}

.superspecial {
  color: blue;
  @include cool-border;
}



/* site styles */

#workspace {
  position: absolute;
  left:0;
  right:0;
  margin: 2em;
  padding:0.5em;
  font-size: $fs_large;

  ul#words {
    li {
      background-color: $lightbg;
      float:left;
      list-style: none;
      margin-right: 0.5em;
      padding:0.1em;
      &:hover {
        cursor: pointer;
      }
      &.input {
        color:blue;
        background-color: transparent;
      }
    }
  }

  input#typer {
      float:left;
      background: transparent;
      border: none;
      &:focus {
        outline:none;
      }
    }

}

